
/* Dark Mode */
.dark-mode #intro {
  background-color: rgb(34, 36, 38);
}

.dark-mode {
  background-color: rgb(34, 36, 38);
  color: rgb(232, 230, 227);
  color-scheme: dark !important;
}

.dark-mode table {
}

.dark-mode th, td {
  border: 1px solid rgb(131, 122, 108) !important;
}

.dark-mode th {
  background-color: #222326;
}

.dark-mode button {
  border-color: rgb(131, 122, 108);
  background-image: -webkit-linear-gradient(top, rgb(75, 75, 75), rgb(24, 26, 27));

  background-color: initial;
  box-shadow: rgba(24, 26, 27, 0.4) 0px 0px 0px, rgba(24, 26, 27, 0.4) 0px 1px 0px inset;
  text-shadow: rgb(53, 57, 59) 0px 1px 0px;
  color: rgb(232, 230, 227);
  text-decoration-color: initial;
  outline-color: initial;
}

.dark-mode button:hover {
    background-image: -webkit-linear-gradient(top, rgb(24, 26, 27), rgb(91, 99, 103));
    background-color: initial;
}

.dark-mode button:disabled {
    background: #888;
}



.dark-mode .parcel-tab.selected {
  background-image: -webkit-linear-gradient(top, rgb(0, 2, 4), rgb(48, 50, 53));
  background-color: initial;
  border-color: rgb(140, 130, 115);
}

.dark-mode .building-tab.selected {
  background-image: -webkit-linear-gradient(top, rgb(0, 2, 4), rgb(48, 50, 53));
  background-color: initial;
  border-color: rgb(140, 130, 115);
}

.dark-mode :root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

/* Dark Mode Projects */
.dark-mode .project-box {
  border-color: rgb(140, 130, 115);
  background-color: rgb(24, 26, 27);
}

.dark-mode td {
  background-color: #222426;
}

/* Dark Mode Move Parcel Pop Up */
.dark-mode .parcel-manipulation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.dark-mode .parcel-manipulation-container {
    background: #35393B;
    padding: 20px;
    border-radius: 5px;
}

.dark-mode .menu {
  background-color: #35393B;
  border: 1px solid rgb(140, 130, 115);
}

.dark-mode .menu-item {
  border: 1px solid rgb(140, 130, 115);
}

/* Dark Mode Tooltips */
.dark-mode .tooltip {
  background-color: #35393B;
  color: rgb(232, 230, 227);
  border: 1px solid rgb(140, 130, 115);
}

/* General styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
    touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

@media (max-width: 800px){
  th, td {
    padding: 1px;
  }
}

th, td {
  border: 1px solid;
  padding: 5px;
  text-align: right;
}
th {
  background-color: #f2f2f2;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.game-section {
  padding-right: 20px;
  padding-bottom: 40px;
}

/* Parcels styles */
#parcels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.parcel {
    width: 100px;
    height: 100px;
    border: 1px solid #1a1a1a;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 14px;
}

.parcel-number {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Parcel tabs styles */
#parcel-tabs {
    display: block;
    margin-bottom: 2em;
}

.parcel-tab {
  border: 1px solid #1a1a1a;
  background: -webkit-linear-gradient(top, #ffffff, #888888);
  padding: 4px 8px;
  border-radius: 2px;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #cccccc 0 1px 0;
  color: #000;
  font-size: 14px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

.parcel-tab:hover {
    background: -webkit-linear-gradient(top, #888888, #ffffff);
}

.parcel-tab.selected {
    background-color: #007bff;
    background: -webkit-linear-gradient(top, #ccc, #fff);
    border: 1px solid #888;
}

#building-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5px;
  margin-bottom: 10px;
}

.building-tab {
border: 1px solid #1a1a1a;
background: -webkit-linear-gradient(top, #ffffff, #888888);
padding: 4px 8px;
border-radius: 2px;
box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
text-shadow: #cccccc 0 1px 0;
color: #000;
font-size: 14px;
font-family: helvetica, serif;
text-decoration: none;
vertical-align: middle;
outline: none;
cursor: pointer;
}

.building-tab:hover {
  background: -webkit-linear-gradient(top, #888888, #ffffff);
}

.building-tab.selected {
  background-color: #007bff;
  background: -webkit-linear-gradient(top, #ccc, #fff);
  border: 1px solid #888;
}

/* Resources styles */
.header {
  text-align: center;
  white-space: nowrap;
}

#resources {
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resource {
    width: 150px;
    height: 50px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    border: 1px solid #1a1a1a;
    padding: 5px;
    font-size: 14px;
}

.resource-name {
    margin-bottom: 5px;
    text-align: left;
}

/* Buildings styles */
#buildings {
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.building {
    width: 150px;
    height: 100px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    border: 1px solid #1a1a1a;
    padding: 5px;
    font-size: 14px;
}

.building-nameCell {
  text-align: left;
}

.building-name {
    font-weight: bold;
    margin-bottom: 5px 0;
}

/* Buttons */
button {
    border: 1px solid #1a1a1a;

    background: -webkit-linear-gradient(top, #888888, #ffffff);
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #cccccc 0 1px 0;
    color: #000000;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: -webkit-linear-gradient(top, #ffffff, #888888);
}

button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

/* Tooltips */
.tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  z-index: 9999;
}

.category.global {
  /* Add styles for the global category if needed */
}

.subcategory.energy {
  /* Add styles for the energy subcategory if needed */
}

.global {
  display: flex;
  flex-wrap: wrap;
}

.subcategory {
  margin-right: 20px;
}

.energy-stats {
  display: flex;
  flex-direction: column;
}

.energy-usage,
.energy-production {
  margin: 5px 0;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.explainerTooltip {
    position: absolute;
    z-index: 100;
    background-color: #222;
    border: 1px solid #ccc;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none; /* This makes sure that the tooltip does not interfere with mouse events on other elements */
}

.tooltip-visible {
    opacity: 1;
}

/* Projects */
.project-box {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}



/* Intro Animation */

#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

#intro-text {
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 4s backwards, grow 6s linear infinite, fadeOut 2s 4s forwards;
}

@keyframes fadeIn {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Save Button Animation */
.save-button {
  position: relative;
  overflow: hidden;
}

.save-text,
.save-checkmark {
  transition: transform 0.3s ease-in-out;
}

.save-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

/* Reset Button */
.reset-confirmation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reset-confirmation p {
  margin-bottom: 1rem;
}

/* Input Controller */
.input-controller{
  display: inline-flex;
  width:170px;
  border:1px solid black;
}

.input-btn{
  width:30px;
  text-align:center;
  background-color:#AAAAAA;
  padding:5px 3px;
  cursor: pointer;
  user-select: none;
}
.input-btn:hover{
  background-color:#CCCCCC;
  cursor:pointer;
}
.input-btn:active{
  background-color:#666666;
}

.input-display{
  width:80%;
  text-align:center;
  border-left: 1px solid black;
  border-top: 0px;
  border-right: 1px solid black;
  border-bottom: 0px;
  font-weight: bold;
}

.input-display.zero-value {
  color: grey;
  font-weight: normal;
  background-color: #cdcdcd;
}

.dark-mode .input-display.zero-value {
  color: grey;
  font-weight: normal;
  background-color: #222326;
}

.dark-mode .input-btn {
    background-color: #35393B;
}

.dark-mode .input-btn:hover{
  background-image: -webkit-linear-gradient(top, rgb(91, 99, 103), rgb(24, 26, 27));
  background-color: initial;
  cursor:pointer;
}

.dark-mode .input-controller {
    border-color: rgb(140, 130, 115);
}

.dark-mode .input-display {
    border-left-color: rgb(140, 130, 115);
    border-top-color: initial;
    border-right-color: rgb(140, 130, 115);
    border-bottom-color: initial;
}


/* Default mode disabled state */
.input-btn:disabled {
    background-color: #DDDDDD; /* Change this to the color you want */
    cursor: not-allowed; /* Typically, a not-allowed cursor is used to show that the button is disabled */
}

.input-btn:disabled:hover {
    background-color: #DDDDDD; /* The hover color should typically be the same as the normal color, because you usually don't want any hover effects when the button is disabled */
}

/* Dark mode disabled state */
.dark-mode .input-btn:disabled {
    background-color: #2D2F31; /* Change this to the dark mode color you want */
}

.dark-mode .input-btn:disabled:hover {
    background-color: #2D2F31; /* The hover color should typically be the same as the normal color */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Title and Version Number */
h1 {
  position: relative;
  text-align: center;
}

.title-text {
  display: inline-block;
}

.version-number {
  position: absolute;
  right: 0;
  font-size: 0.6em;
  font-weight: normal;
  color: #666;
}


/* Parcel Manipulation */
.parcel-manipulation {
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 100;
}

.menu-item {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  text-align: left;
}

.hidden {
  display: none;
}

/* Fight System */
.battle-log {
  width: 80%;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
  white-space: pre-wrap;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#fight-container {
  position: relative;
}

/* Cell Buttons */
.buttonWrapper {
    float: right;
    margin-left: 1em;
}


/* Move Parcel Pop Up */
.parcel-manipulation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.parcel-manipulation-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
}

/* Missing Resource Overlay */
#missing-resource-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    outline: 1px solid;
    text-align: center;
}

.dark-mode #missing-resource-overlay {
    background-color: rgba(0, 2, 4, 0.8);
    outline: 1px solid rgb(131, 122, 108);
}

.notification-popup-content {
  margin: 2em;
}

.main-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Cluster Styles */
#parcel-section {
  display: block;
}

.cluster-container {
  margin-bottom: 10px;
  margin-right: 4px;
  display: flex !important;
}

.cluster-content {
  display: none;
  overflow: hidden;
  padding: 10px;
}

button.cluster-header {
  background-image: -webkit-linear-gradient(top, rgba(91, 99, 103, 0), rgba(24, 26, 27, 0));
  border: none;
  width: min-content;
  white-space: nowrap;
  padding: 10px;
  text-align: left;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

/* Trains */

.dark-mode .train-manipulation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.train-manipulation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-element {
  margin: 4px;
}


.dark-mode .overlay-container {
  border: 1px solid rgb(131, 122, 108);
  background-color: #222326;
}

 .overlay-container {
  border: 1px solid #1a1a1a;
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 4px;
}

.left-cell {
  text-align: left;
}

.action-cell {
  white-space: nowrap;
}

.dark-mode .schedule-overlay-content {
  background-color: #222326;
}

.schedule-overlay-content {
  background-color: #f2f2f2;
  width: min-content;
  margin: 5% auto;
  padding: 20px;
  border-radius: 4px;
}

.dark-mode .station-overlay-content {
  background-color: #222326;
}

.station-overlay-content {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, 15%);
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  background-color: #f2f2f2;
}

#load-section, #unload-section {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.fixed-width-cell {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Train visualization */
.clusterViz {
  stroke: black;
  fill: none;
}

.parcelViz {
  stroke: blue;
  fill: grey;
}

.trainViz {
  fill: red;
}

/* Toggle Sections */

.hidden {
  display: none !important;
}

#researchSelect {
  width: 150px;
}

.resources-and-buildings-header {
  margin-top: 0px;
}


table.train-table-fixed {
  table-layout:fixed;
  width:800px;
}
table.train-table-fixed td {
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  text-align: left;
}
table.train-table-fixed td:nth-of-type(1) {
  width:100px;
}
table.train-table-fixed td:nth-of-type(2) {
  width:100px;
}
table.train-table-fixed td:nth-of-type(3) {
  width:100px;
}
table.train-table-fixed td:nth-of-type(4) {
  width:200px;
}
table.train-table-fixed td:nth-of-type(5) {
  width:300px;
}

button.collapseButton {
  background: transparent;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
}

td.resource-name div {
    /* Your styles here */
    width: 250px;
    position: absolute;
    z-index: 3;
    overflow: hidden;
}

.resource-name {
  width: 187px;
}
